body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  height: 1000rem;
}

:root {
  --primary: #0578f9;
  --secondary: #c1dfff;
  --footerColor: #0e244c;
  --button: #007aff;
  --lightBlue: #f3f9ff;
  --font1: #a9b7c4;
}

.container {
  max-width: 94%;
  margin: 0 auto;
  margin-right: 0;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.btn {
  padding: 0.9rem 2.1rem;
  background: transparent;
  border-radius: 2rem;
  border: none;
  margin-right: 1rem;
  font-size: 1.1rem;
}

.btnPrimary {
  background-color: var(--primary);
  color: white;
}

.btnSecondary {
  border: 1px solid var(--primary);
  color: var(--primary);
}

button {
  cursor: pointer;
}
/* --------------- styling navbar section --------------------- */
.verifyIcon {
  margin-right: 0.2rem;
  font-size: 1.3rem;
}

.verifyButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 9rem;
}

.navbar {
  margin-top: 2rem;
}

.navSection {
  display: flex;
  align-items: center;
}

.navComponent {
  display: flex;
  align-items: center;
}

.navLinks ul {
  display: flex;
  align-items: center;
}

.navLinks ul li {
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 4rem;
}

.navButtons {
  display: flex;
  align-items: center;
}

/* -------------- Styling hero section --------------- */

.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 9rem;
}

.heroLeft h1 {
  font-size: 3.5rem;
  text-transform: capitalize;
}

.heroLeft p {
  color: var(--font1);
  font-size: 1.5rem;
}
.heroLeft h1 span {
  color: var(--primary);
}

.heroRight img {
  width: 100%;
}

.heroImage {
  position: relative;
}

.sideImages img {
  position: absolute;
  width: 2rem;
}

.heroBackground img {
  width: 90%;
  position: absolute;
  top: -2rem;
  right: 1rem;
  z-index: -2;
}

.blueWhite img {
  z-index: 2;
  top: 25rem;
  left: -2rem;
}

.whiteBlue img {
  z-index: 2;
  top: 25rem;
  right: 4rem;
}

.circlesanddots img {
  z-index: 2;
  width: 5rem;
  top: 27rem;
  right: 22rem;
}

.requenstBtn {
  display: flex;
  align-items: center;
}

.rightIcon {
  margin-left: 0.1rem;
}

/* ----------------- Styling consumer concern section--------------- */

.consumer {
  margin-top: 20rem;
  background-color: var(--lightBlue);
  padding: 5rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
}

.consumerHeading h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.consumerGrid ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  box-shadow: 0rem 0.5rem 0.5rem -0.5rem var(--font1);
  padding: 1rem 2rem;
  padding-right: 1rem;
}

.consumerGrid ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 0rem;
}

.concernText {
  font-size: 0.9rem;
}

.concernText h4 {
  margin: 0rem;
  margin-bottom: 0.4rem;
}
.concernText p {
  font-size: 0.8rem;
  color: var(--font1);
  margin: 0rem;
}

.concernSvg {
  margin-right: 0.5rem;
}
