body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0rem;
  padding: 0rem;
}

:root {
  --primary: #0578f9;
  --secondary: #c1dfff;
  --footerColor: #0e244c;
  --button: #007aff;
  --lightBlue: #f3f9ff;
  --font1: #a9b7c4;
  --blackPowder: rgb(42, 42, 42);
  --background: #f3f9ff;
  --transition: all 0.3s linear;
}

.container {
  max-width: 94%;
  margin: 0 auto;
  margin-right: 0;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.btn {
  padding: 0.9rem 2.1rem;
  background: transparent;
  border-radius: 2rem;
  border: none;
  margin-right: 1rem;
  font-size: 1.1rem;
}

.btnPrimary {
  background-color: var(--primary);
  color: white;
}

.btnSecondary {
  border: 1px solid var(--primary);
  color: var(--primary);
}

button {
  cursor: pointer;
}
/* --------------- styling navbar section --------------------- */
.verifyIcon {
  margin-right: 0.2rem;
  font-size: 1.3rem;
}

.verifyButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 9rem;
}

.navbar {
  margin-top: 2rem;
}

.navSection {
  display: flex;
  align-items: center;
}

.navComponent {
  display: flex;
  align-items: center;
}

.navLinks ul {
  display: flex;
  align-items: center;
}

.navLinks ul li {
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 4rem;
}

.navButtons {
  display: flex;
  align-items: center;
}

/* -------------- Styling hero section --------------- */

.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 9rem;
}

.heroLeft h1 {
  font-size: 3.5rem;
  text-transform: capitalize;
}

.heroLeft p {
  color: var(--font1);
  font-size: 1.5rem;
}
.heroLeft h1 span {
  color: var(--primary);
}

.heroRight img {
  width: 100%;
}

.requenstBtn {
  display: flex;
  align-items: center;
}

.rBtn {
  margin-top: 1rem;
}
.rightIcon {
  margin-left: 0.1rem;
}

/* ----------------- Styling consumer concern section--------------- */

.consumer {
  margin-top: 20rem;
  background-color: var(--lightBlue);
  padding: 5rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
}

.consumerHeading h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.consumerGrid ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  box-shadow: 0rem 0.5rem 0.5rem -0.5rem var(--font1);
  padding: 1rem 2rem;
  padding-right: 1rem;
}

.consumerGrid ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 0rem;
}

.concernText {
  font-size: 0.9rem;
}

.concernText h4 {
  margin: 0rem;
  margin-bottom: 0.4rem;
}
.concernText p {
  font-size: 0.8rem;
  color: var(--font1);
  margin: 0rem;
}

.concernSvg {
  margin-right: 0.5rem;
}

/* ---------------Styling experience section------------------ */

.experienceSection {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

.experienceText h1 {
  text-align: center;
  font-size: 3rem;
  padding: 0rem 8rem;
}

.experienceText h1 span {
  color: var(--primary);
}

.experienceText p {
  text-align: center;
  color: var(--font1);
  margin-top: 2rem;
  padding: 0rem 22rem;
}

.experienceGrid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-top: 4rem;
}

.experienceGrid div {
  background: url("./svg/rectangle.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  padding: 2rem 0rem;
}

.experienceGrid div h4 {
  text-align: center;
  margin-top: 1rem;
}

.experienceGrid div p {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1rem;
  padding: 0rem 1.5rem;
  color: rgb(172, 169, 169);
}

/* ---------------- Styling how it works section------------------ */

.worksSection {
  margin-top: 10rem;
}

.worksText h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--blackPowder);
}

.worksGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  grid-template-areas:
    ". a . b . c ."
    ". . d . e . . ";
}

.worksGrid div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
}

.worksGrid div h3 {
  color: var(--blackPowder);
}

.worksGrid div p {
  margin-top: 1rem;
  color: rgb(160, 152, 152);
  font-size: 0.9rem;
}

.dataIcon img {
  width: 8rem;
}

#div-1 {
  grid-area: a;
}

#div-2 {
  grid-area: b;
}

#div-3 {
  grid-area: c;
}

#div-4 {
  grid-area: d;
}

#div-5 {
  grid-area: e;
}

/* --------------- Styling whyChoose section -------------------- */

.whySection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--background);
  border-radius: 2rem;
  margin-top: 6rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.whyText h1 {
  font-size: 2.5rem;
}

.whyText h1 span {
  color: var(--primary);
}

.whyText p {
  margin-top: 2rem;
}

.whyText button {
  margin-top: 1rem;
  font-size: 1rem;
}

.whySection p {
  color: rgb(160, 152, 152);
}

.whyGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.whyGrid div {
  display: flex;
}

.whyGrid div:not(:last-child) {
  margin-bottom: 2rem;
}

.whyItemData {
  margin-left: 1.5rem;
}
.whyItemData p {
  font-size: 0.9rem;
  padding-right: 3rem;
}
.whyItemData {
  display: flex;
  flex-direction: column;
}

.whyIcon img {
  width: 3rem;
}

.whyLeft img {
  width: 60%;
}

/* ----------------- Styling Footer Section ---------------- */
.footerSection {
  margin-top: 6rem;
  padding-top: 4rem;
  background-color: var(--footerColor);
  font-family: "Noto Sans Display", sans-serif;
  padding-bottom: 2rem;
}

.footerTop {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-gap: 2rem;
  align-items: center;
  padding-bottom: 4rem;
  border-bottom: 1px solid grey;
}

.footerTop {
  color: var(--background);
}

.footerLeft p {
  margin-top: 2rem;
  font-size: 0.9rem;
}

.socialMediaSection {
  display: flex;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.socialMediaSection * {
  margin-right: 1.5rem;
}

.footerMid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 4rem;
  line-height: 2.5rem;
}

.footerMid div ul {
  list-style: none;
  font-size: 0.9rem;
}

.footerRight {
  margin-right: 5rem;
}
.footerRight p {
  text-align: right;
}

.footerForm {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
}

.mail {
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;
}

.mailIcon {
  margin: 0rem 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bolder;
}
.emailInput input {
  background: none;
  border: none;
  font-size: 0.8rem;
}

.emailInput input::placeholder {
  color: var(--background);
}

.getStarted {
  padding: 0rem;
  margin: 0rem;
  margin-right: 0.2rem;
}
.getStarted button {
  border: none;
  padding: 0.5rem 0.7rem;
  font-size: 0.7rem;
  border-radius: 0.4rem;
}

.footerBottom {
  padding-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
  color: grey;
  font-weight: bold;
}

/* ----------- styling features section ------------- */

.sectionCenter {
  margin: 0 auto;
  margin-top: 4rem;
  width: 40rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
}

article {
  position: absolute;
  opacity: 0;
  transition: var(--transition);
}

.featureText h1 {
  font-size: 3rem;
}

.featureText p {
  font-size: 1rem;
  color: rgb(32, 13, 13);
  margin-top: 2rem;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}

.sectionCenter article img {
  width: 20rem;
}

.articlewrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.featureText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.featureText p {
  text-align: center;
}

.slideButtons {
  position: absolute;
  transition: var(--transition);
  top: 28rem;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 2rem;
  margin: 0rem auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.slideButtons button {
  background-color: var(--secondary);
  border: none;
  border-radius: 100%;
}

.slideButtons .activeSlideButton {
  background-color: var(--primary);
}

.slideButtons button div {
  width: 0.1rem;
  height: 0.6rem;
}
